.slider-nav {
    float: right;
    margin: 0 -15px;
    font-size: 0;
    .nav-item {
        display: inline-block;
        font-size: 18px;
    }
}

label {
    margin: 0 10px;
    padding: 0 5px;
    cursor: pointer;
    line-height: 35px;
}

label,
.link {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

label span,
.link:after {
    position: absolute;
    left: -100%;
    top: 50%;
    height: 2px;
    background-color: #2c308c;
    width: 100%;
    visibility: hidden;
    display: block;
    padding: 0;
    margin: -1px 0;
    pointer-events: none;
    z-index: -1;
}

.link  {
    color: #000;
    &:after {
        content: '';
    }
}

label:hover span,
.link:hover:after {
    left: 0;
    visibility: visible;
    z-index: 1;
}

.link:after,
label span {
    @include transition(all 0.1s #{$anim_curve});
}

.slider {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;

    input {
        display: none;


        &:checked {
            & + .slide {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

.slide {
    position: absolute;
    visibility: hidden;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    &.slide-about {
        background-color: #a0cfc2;
        position: fixed;
    }
    .container {
        margin-top: 15%;
    }
}

.slide-title {
    text-align: center;
    font-size: 36px;
    line-height: 46px;
    text-transform: uppercase;
    font-family: $font_primary;
    top: 20%;

    @include transform(translate(0, -50%));
}

.cube {
    display: block;
    width: 200px;
    height: 200px;
    border: 8px solid darken(#3498db, 10%);
    position: absolute;
    padding: 10px 15px 40px;
    font-size: 18px;
    overflow: hidden;
    .link {
    	color: #2c308c;
    	font-weight: 600;
    	padding: 0 0 0 5px;
    	margin: 0 0 0 -5px;
    }
    // @media (min-width: $screen-sm-min) {
        .description {
            display: none;
            visibility: hidden;
        }

        &:hover {
            z-index: 3;
            width: 350px;
            height: 350px;
            background-color: #FFF;
            border-width: 6px;

            .description {
                display: block;
                visibility: visible;
            }
        }
    // }

    h2 {
        font-size: 31px;
        text-transform: uppercase;
    }
}

.slider {
    &:hover {
        .cube {
            animation: none !important;
        }
    }
}

.pos1 {
    left: 20%;
    bottom: 35%;
}

.pos2 {
    right: 10%;
    top: 40%;
    border-color: darken(#27ae60, 5%);
}

.pos3 {
    left: 40%;
    top: 20%;
    border-color: #f1c40f;
}

.pos4 {
    left: 45%;
    bottom: 25%;
    border-color: darken(#2c3e50, 5%);
}

@media (min-width: $screen-sm-min) {
    @for $col from 1 through $project_count {
        .pos#{$col} {
            animation: move-#{$col} 5s infinite;
        }
    }
}
@for $col from 1 through $project_count {
    @keyframes move-#{$col} {
        30% {
            @include transform(translate(percentage((random(20) - 10) / 100), percentage((random(20) - 10) / 100)));
        }

        60% {
            @include transform(translate(percentage((random(20) - 10) / 100), percentage((random(20) - 10) / 100)));
        }
    }
}

