.slider-nav {
  float: right;
  // margin: 45px 0;
  // position: absolute;
  // width: 100%;
  // text-align: center;
  // z-index: 1;
  // bottom: 0;
  label {
    // display: inline-block;
    // padding:0;
    // cursor: pointer;
    // margin: 10px 2px;
    // background-color: transparent;
    // border-radius: 50%;
    // width: 20px;
    // height: 20px;
    // border: 2px solid #000;
    // font-size: 0;
    margin: 0 15px;
    cursor: pointer;
    position: relative;
    span {
      position: absolute;
      left: 0;
      top: 50%;
      height: 4px;
      background-color: #000;
      width: 0;
      visibility: hidden;
      @include transition(all 0.3s ease-in-out);
      margin: -2px -5px;
    }
    
    &:target,
    &:hover {
      // background-color: #000;
      span {
        width: 110%;
        visibility: visible;
      }
    }
  }
}

.slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  input {
    display: none;
    &:checked {
      & + .slide {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}


.slide {
position: absolute;
visibility: hidden;
left: 0;
top: 0;
bottom: 0;
right: 0;
opacity: 0;
// .slide-img {
//   &:after {
//     position: absolute;
//     content: '';
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     background-color: #000;
//     opacity: 0.3;
//   }
// }
@include transition(all 0.3s ease-in-out);
.slide-img {
    background-size: cover;
    height: 100%;
    position: relative;
    width: 100%;
}
.slide-title {
  text-align: center;
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 36px;
  line-height: 46px;
  // color: #fff;
  top: 20%;
  font-weight: 100;;
  @include transform(translate(0, -50%));
}
}


.cube {
  display: block;
  width: 200px;
  height: 200px;
  // background-color: #3498db;
  border: 8px solid #3498db;
  // color: #FFF;
  position: absolute;
  padding: 10px 15px;
  font-size: 18px;
  overflow: hidden;
  @include transition(all 0.3s ease-in-out);
  .description {
    display: none;
    visibility: hidden;
  }
  &:hover {
    z-index: 3;
    width: 350px;
    height: 350px;
    background-color: #FFF;
    .description {
      display: block;
      visibility: visible;
    }
  }
  h2 {
    font-size: 31px;
    text-transform: uppercase;
  }
}

.pos3 {
  left: 40%;
  top: 20%;
  border-color: #f1c40f;
}
.pos1 {
  left: 20%;
  bottom: 20%;
  
}
.pos2 {
  right: 10%;
  top: 40%;
  border: 8px solid #27ae60;
}