%main.main
  %section#portfolio.section.s-project

    %article#pro1.cube.pos1{"tabindex"=>"0"}
      %header
        %h1 Project #1
      .description
        %p 10kb portfolio for competition The 10k Apart<br />- used HAML and SCSS;<br />- HTML5, Pure CSS3;<br />- CSS animations; <br />- Responsive.
        %p <b>Development time:</b> 5 days
      %a.link{:href => "#"} Live Demo

    %article#pro2.cube.pos2{"tabindex"=>"0"}
      %header
        %h1 Project #2
      .description
        %p Some project X for USA company <br />- used HAML and SCSS;<br />- HTML5, CSS3, JS;<br />- Responsive;<br />- WordPress, PHP.
        %p <b>Development time:</b> 2 weeks
      %a.link{:href => "#"} Live Demo

    %article#pro3.cube.pos3{"tabindex"=>"0"}
      %header
        %h1 Project #3
      .description
        %p Some project Y for secret company <br />- used HTML, CSS;<br />- HTML5, CSS3; <br />- Responsive;<br />- WordPress, PHP.
        %p <b>Development time:</b> 12 weeks
      %a.link{:href => "#"} Live Demo

    %article#pro4.cube.pos4{"tabindex"=>"0"}
      %header
        %h1 Project #4
      .description
        %p Some project Z for Unknown company <br />- used HAML and SCSS;<br />- HTML5, CSS3;<br />- CSS animations;<br />- WordPress, PHP.
        %p <b>Development time:</b> 7 weeks
      %a.link{:href => "#"} Live Demo


  %section#about.section.s-about
    .container
      %h2.s-title About us
      .s-contnet
        %p <b>10kb portfolio site</b> - HTML5, CSS3 template without JS. <br/>The main idea of 10kb portfolio was: create clear and minimal portfolio website.
        %p Approach was unique to create page template without JS.<br />I used pure CSS3 and HTML5.


%footer#contacts.s-contact
  .bg
  .bg
  .bg
  .bg
  %nav.contacts-nav
    %a.link{:href => "mailto:i.markozub@gmail.com"} Email
    %a.link{:href => "http://codepen.io/marko-zub/", :target => "_blank"} Codepen
    %a.link{:href => "https://github.com/marko-zub", :target => "_blank"} Github
    %a.link{:href => "https://www.linkedin.com/in/marko-zub", :target => "_blank"} Linkedin