.slider
  %input{:type => "radio", :name=>"slider", :id=>"portfolio", :checked=>'checked'}/
  .slide
    .slide-img
    .cube.pos1
      %h2
        Project #1
      .description
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, odio explicabo, fugit quas tempore eligendi temporibus nemo dolores porro assumenda repellat quos cupiditate vero ex. Vel deserunt delectus quibusdam possimus.
    .cube.pos2
      %h2
        Project #2
      .description
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, odio explicabo, fugit quas tempore eligendi temporibus nemo dolores porro assumenda repellat quos cupiditate vero ex. Vel deserunt delectus quibusdam possimus.
    .cube.pos3
      %h2
        Project #2
      .description
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, odio explicabo, fugit quas tempore eligendi temporibus nemo dolores porro assumenda repellat quos cupiditate vero ex. Vel deserunt delectus quibusdam possimus.
    
  %input{:type => "radio", :name=>"slider", :id=>"about"}/
  .slide
    .slide-img
    .slide-title
      About us
  %input{:type => "radio", :name=>"slider", :id=>"slide-3"}/
  .slide
    .slide-img
    .slide-title
      Click <br />
      Slide #3