<!DOCTYPE html>
%html
  %head
    <meta charset="utf-8">
    <title>Portfolio 10kb</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
  %body
    .header
      .logo
        10
        %small
          kb
      .slider-nav
        %label{:for => "portfolio"}
          Portfolio
          %span
        %label{:for => "about"}
          About
          %span
        %label{:for => "menu"}
          contact us
          %span
    = render :partial => "modules/slider.haml"