<!DOCTYPE html>
%html
	%head
		<meta charset="utf-8">
		<title>Portfolio 10kb</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/style.css">
	%body
		.header
			.logo
				10
				%small
					kb
			.slider-nav
				%label{:for => "portfolio"}
					Portfolio
					%span
				%label{:for => "about"}
					About
					%span
				%label{:for => "menu"}
					contact us
					%span

		= render :partial => "modules/slider.haml"
		/ .section
		/   .container
		/     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis praesentium voluptates obcaecati accusantium neque atque quod, molestias sint iure quidem consequuntur, numquam natus error nemo corrupti maxime fuga pariatur? Alias.
		%input{:type => "radio", "name"=>"slider", "id"=>"menu" }/
		.overlay
			%nav.nav
				%ul
					%li
						%a{:href => "#"}
							Email
					%li
						%a{:href => "#"}
							Behance
					%li
						%a{:href => "#"}
							Dribbble
					%li
						%a{:href => "#"}
							Github
					%li
						%a{:href => "#"}
							Twitter
					%li
						%a{:href => "#"}
							Linkedin
