html {
    height: 100%;
}

body {
    height: 100%;
    position: relative;
    margin: 0;
    font-family: $font_secondary;
    font-weight: 400;
    background-color: #fff;
}

* {
    @include box-sizing(border-box);

    &:after,
    &:before {
        @include box-sizing(border-box);
    }
}

h1, h2, h3, h4 {
    font-family: $font_primary;
    font-weight: 400;
}

a {
    font-family: $font_primary;
    color: #333;
    text-decoration: none;

    &:hover {
        color: darken(#34495e, 10%);
    }
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 4;
    padding: 20px 30px;
    font-style: 31px;
    text-transform: uppercase;
    font-weight: 500;
}

.logo {
    float: left;
    font-weight: 700;
    font-size: 23px;
    line-height: 30px;

    small {
        font-size: 65%;
        margin-left: -10px;
    }
}

.container {
    left: 0;
    right: 0;
    width: 700px;
    margin: 0 auto;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    visibility: hidden;
    background-color: #fed700;

    @include transition(all 0.3s ease-in-out);

    top: -100%;
}

#menu {
    display: none;

    &:checked {
        & + .overlay {
            top: 0;
            visibility: visible;
        }
    }
}

.section {
    padding: 50px 0;
    max-height: 100vh;
}

.content {
    padding: 40px;
}

.nav {
    text-align: center;
    margin-top: 15%;

    a {
        font-size: 36px;
        margin: 0 0 30px;
        padding: 0 10px;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: block;
        }
    }
}