@import "compass/css3";

html {
  height: 100%;
  // overflow: hidden;
}
body {
	height: 100%;
  position: relative;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

* {
    @include box-sizing(border-box);
    &:after,
    &:before {
        @include box-sizing(border-box);
    }
}

a {
	color: #34495e;
	&:hover {
		color: darken(#34495e, 10%);
	}
}
.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	overflow: hidden;
	z-index: 4;
	padding: 20px 30px;
	font-style: 31px;
	text-transform: uppercase;
	font-weight: 500;
}
.logo {
	float: left;
	font-weight: 700;
	// font-size: 31px;
	small {
		font-size: 70%;
	}
}
.container {
	width: 700px;
	margin: 0 auto;
}

.overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	visibility: hidden;
	// background-color: rgba(255, 255, 255, 0.26);
	background-color: #ebebeb;
	@include transition(all 0.3s ease-in-out);
	top: -100%;
}
#menu {
	display: none;
	&:checked {
		& + .overlay {
			top: 0;
			visibility: visible;
		}
	}
}
.section {
	padding: 50px 0;
	max-height: 100vh;
}
.content {
	padding: 40px;
}

.nav {
	text-align: center;
	margin-top: 150px;
	a {
		color: #000;
		font-size: 36px;
		text-decoration: none;
		display: block;
		margin: 0 0 30px;
	}
}