html {
    height: 100%;
}

body {
    height: 100%;
    position: relative;
    margin: 0;
    font-family: $font_secondary;
    font-weight: 400;
    background-color: #fff;
    color: #333;
}

* {
    @include box-sizing(border-box);

    &:after,
    &:before {
        @include box-sizing(border-box);
    }
}

h1, h2, h3, h4 {
    font-family: $font_primary;
    font-weight: 400;
}

a {
    font-family: $font_primary;
    color: #333;
    text-decoration: none;

    &:hover {
        color: darken(#205081, 10%);
    }
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 4;
    padding: 20px 30px;
    font-style: 31px;
    text-transform: uppercase;
    font-weight: 500;

    label {
        cursor: pointer;
        line-height: 35px;
    }
}

.logo {
    float: left;
    font-weight: 700;
    font-size: 23px;
    line-height: 30px;

    small {
        font-size: 65%;
        margin-left: -10px;
    }
}

.container {
    left: 0;
    right: 0;
    width: 700px;
    margin: 0 auto;
}

.main-nav,
.slide,
.cube {
    @include transition(all 0.3s ease-in-out);
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    visibility: hidden;
    top: 0;
    .bg {
        width: 25%;
        position: absolute;
        left: 0;
        top: -100%;
        background-color: #fed700;
        height: 100%;
        visibility: hidden;

        &:nth-child(1) {
            @include transition(all 0.45s ease-in-out);

            left: 0;
        }

        &:nth-child(2) {
            @include transition(all 0.35s ease-in-out);

            left: 25%;
        }

        &:nth-child(3) {
            @include transition(all 0.23s ease-in-out);

            left: 50%;
        }

        &:nth-child(4) {
            @include transition(all 0.6s ease-in-out);

            left: 75%;
        }
    }
}

#menu {
    display: none;

    &:checked {
        & + .overlay {
            visibility: visible;
            .main-nav {
                opacity: 1;
                visibility: visible;
            }

            .bg {
                top: 0;
                visibility: visible;
            }
        }
    }
}

.content {
    padding: 40px;
}

.main-nav {
    text-align: center;
    margin-top: 15%;
    opacity: 0;
    visibility: hidden;

    a {
        font-size: 36px;
        margin: 0 0 30px;
        padding: 0 10px;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: block;
        }
    }
}