@import "compass/css3";

$font_primary: 'Anonymous Pro', 'Consolas', monaco, monospace;
$font_secondary: 'Source Code Pro', 'Consolas', monaco, monospace;

$anim_curve: "ease-in-out";
$anim_time: "0.3s";

$project_count: 4;
$screen-sm-min: 768px;