@import "compass/css3";

$font_primary: "Anonymous Pro", "Consolas", "Fixed,", monaco, monospace;
$font_secondary: "Source Code Pro", "Consolas", "Fixed,", monaco, monospace;

$anim_curve: "ease-in-out";
$anim_time: "0.3s";

$project_count: 4;
$screen-sm-min: 768px;