@import "compass/css3";

@import 'https://fonts.googleapis.com/css?family=Anonymous+Pro';
@import 'https://fonts.googleapis.com/css?family=Source+Code+Pro';

$font_primary: 'Anonymous Pro', monospace;
$font_secondary: 'Source Code Pro', monospace;

$anim_curve: "ease-in-out";
$anim_time: "0.3s";

$project_count: 4;
$screen-sm-min: 768px;